<footer class="text-gray-600 body-font" style="background-color:#e6e6e6; position: relative;margin-top: 10%;">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      
      <span class="ml-3 text-xl" style="    font-family: 'Cinzel', serif;
      ">OBSERVATIONS</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2021  —Developed by Mirza Abdul Aleem
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-500" href="https://github.com/mirzaaleem21">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>

      </a>
      <a  href="mailto:<%= email %> " class="ml-3 text-gray-500">
        <i class="fa fa-envelope fa-2x"></i>


         
      </a>
      <a class="ml-3 text-gray-500" href="https://www.instagram.com/_mirzaaleem_/">
        <i class="fa fa-instagram fa-2x"></i>


      </a>
      <a class="ml-3 text-gray-500" href="https://www.linkedin.com/in/mirza-aleem-512634126/">
        <i class="fa fa-linkedin fa-2x"></i>




      </a>
    </span>
  </div>
</footer>

</body>


<!-- <script src="https://use.fontawesome.com/784fe6b837.js"></script> -->

<!-- <script src="lodash.js"></script> -->

</html>
